<h1>This is the secret page!</h1>
<p>You found me!</p>

<img src="https://pixabay.com/get/e830b90b2ef71c22d2524518b7444795ea76e5d004b014439cf4c47fa4e5b4_340.png">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>